.paginators{
    /* background: green; */
    text-align: center;
}

.page-btn{
    border: 1px solid #2c3e50;
    padding: 5px 15px;
    margin: 15px;
    background: #2c3e50;
    border-radius: 3px;
    font-size: 1.2rem;
    color: gold;
}

.page-btn:hover{
    /* background-color: gold; */
    cursor: pointer;
    /* color: white; */
    font-weight: bold;
}

.not-found-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color: rgb(255, 229, 83);
}


